
.chat{
    max-width:550px;
    align-self: center;
}

.messages,
.chat button,
.chat textarea,
.username{
    border:2px solid #399;
    width:100%;
    padding:10px;
    margin : 1px;
}
h3{
   align-content: center;
}
.messages{
    border:2px solid #399;
    width:100%;
    height:500px;
    overflow-y :scroll;
    padding:10px;
}

.chat textarea{
    border:2px solid #399;
    width: 75%;
    height : 20px;
    max-width: 80%;
    max-height: 25px;
}

.chat button{
    border:2px solid #399;
    margin-left : auto;
    margin-right : auto;
    width:100px;
    height: 25px;
    padding: 0;
}



.status{
    color:#157;
}